  
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
}

a {
    color: #3498db;
    text-decoration: none;
    margin: 15px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    font-size: 2rem;
}

 
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

 
h1, h2 {
    color: #2c3e50;
    text-align: center;
}

.h1 {
    
    font-size: 2em;
    margin-bottom: 10px;
    -webkit-text-stroke: .1rem black;
    color: orange;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

 
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul h1 {
    font-size: 1.2em;
    background: #3498db;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

 
@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    ul h1 {
        font-size: 1.5em;
    }

    ul li {
        font-size: 1.1em;
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    ul h1 {
        font-size: 1.8em;
    }

    ul li {
        font-size: 1.2em;
    }
}

 
ul li h2 {
    font-size: 1.2em;
    margin-top: 20px;
    background: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

 
ul li:hover {
    background: #f1f1f1;
    color: red;
}

ul li h2:hover {
    background: #2980b9;
}
h2:hover {
    color: red;
     font-size: 2rem;
    border: .2rem solid green;
    background-color: aliceblue;
    
 }

