

@import '../styles/general.css';
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(114, 114, 114);
    font-family: "Glass Antiqua";
     
}

header {
    background-color: var( --color-2);
    display: flex;
    justify-content: space-between;
   color: var(--color-1);
   height: 3rem;
   padding: 2rem;
}
#cerrar {
font-size: 2rem;
cursor: pointer;

}
main {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-left: 30rem;
     
}
.textos {
    border: .1rem solid;
    height: 10rem;
    color: #e2e2e2;
    margin-left: 5rem; 
}
#title {
    text-align: center;
    font-size: 2rem;
    margin-top:2rem ;
}
#resume {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
}
img {
    margin-top: 3rem;
    width: 30%;
     
}
@media (width < 768px) {

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 1rem;
    }
    img {
        width: 10rem;
    }
    .textos {
         font-size: .1rem;
         height: auto; 
         margin: .5rem;
         padding: 1rem; 
    }
   
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: var( --color-2);
    color: var(--color-1);
    height: 5rem;
    padding: 2rem;
}
 